.btn{
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    display: block;
}

.btnPrimary{
    background-color: blue;
    color: white;
}

.btnPrimary:hover{
    background-color: darkblue;
}

.btnSecondary{
    background-color: grey;
    color: white;
}

.btnSecondary:hover{
    background-color: darkgrey;
}

.btnDanger{
    background-color: red;
    color: white;
}

.btnDanger:hover{
    background-color: darkred;
}

.btnSuccess{
    background-color: green;
    color: white;
}

.btnSuccess:hover{
    background-color: darkgreen;
}

.btnWarning{
    background-color: orange;
    color: black;
}

.btnWarning:hover{
    background-color: darkorange;
}